<!-- HTTPS -->

<script type="text/javascript">
    var baseURL = '{{ .Site.BaseURL }}';
    var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location.protocol = 'https:';
    }
</script>

<!-- CSS -->

{{ if .Site.Params.highlightjs }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
{{ end }}


{{ if eq true .Site.Params.cachebuster }}

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/pygments.css">
<link rel="stylesheet" href="/css/main.css">

{{range .Site.Params.extracssfiles}}
    <link rel="stylesheet" href="{{.}}">
{{end}}

{{ else }}

<link rel="stylesheet" href="/css/reset.css?{{ .Now.Unix }}">
<link rel="stylesheet" href="/css/pygments.css?{{ .Now.Unix }}">
<link rel="stylesheet" href="/css/main.css?{{ .Now.Unix }}">

{{range .Site.Params.extracssfiles}}
    <link rel="stylesheet" href="{{.}}?{{ .Now.Unix }}">
{{end}}

{{ end }}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="/{{ .Site.Params.faviconfile }}"
{{ else }}
    href="/img/favicon.ico"
{{ end }}
>

<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<!-- RSS -->
<!-- {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }} -->

<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
